.mo-item {
  @include item-style($item-default-bg, $item-default-border, $item-default-text);

  position: relative;
  z-index: $z-index-item; // Make sure the borders and stuff don't get hidden by children
  display: block;

  margin: $item-border-width * -1;
  padding: $item-padding;

  border-width: $item-border-width;
  border-style: solid;
  font-size: $item-font-size;

  h2 {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: normal;
  }
  h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
  }
  h4 {
    margin: 0 0 4px 0;
    font-size: 12px;
  }
  h5, h6 {
    margin: 0 0 3px 0;
    font-size: 10px;
  }
  p {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
  }

  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom: 0;
  }

  // Align badges within items
  .mo-badge {
    @include display-flex();
    position: absolute;
    top: $item-padding;
    right: ($item-padding * 2);
  }
  &.mo-item-button-right .mo-badge {
    right: ($item-padding * 2) + 35;
  }
  &.mo-item-divider .mo-badge {
    top: ceil($item-padding / 2);
  }
  .mo-badge + .mo-badge {
    margin-right: 5px;
  }

  // Different themes for items
  &.mo-item-light {
    @include item-style($item-light-bg, $item-light-border, $item-light-text);
  }
  &.mo-item-stable {
    @include item-style($item-stable-bg, $item-stable-border, $item-stable-text);
  }
  &.mo-item-positive {
    @include item-style($item-positive-bg, $item-positive-border, $item-positive-text);
  }
  &.mo-item-calm {
    @include item-style($item-calm-bg, $item-calm-border, $item-calm-text);
  }
  &.mo-item-assertive {
    @include item-style($item-assertive-bg, $item-assertive-border, $item-assertive-text);
  }
  &.mo-item-balanced {
    @include item-style($item-balanced-bg, $item-balanced-border, $item-balanced-text);
  }
  &.mo-item-energized {
    @include item-style($item-energized-bg, $item-energized-border, $item-energized-text);
  }
  &.mo-item-royal {
    @include item-style($item-royal-bg, $item-royal-border, $item-royal-text);
  }
  &.mo-item-dark {
    @include item-style($item-dark-bg, $item-dark-border, $item-dark-text);
  }

}

.mo-list-borderless .mo-item,
.mo-item-borderless {
  border-width: 0;
}

// Link and Button Active States
.mo-item.mo-active,
.mo-item.mo-activated,
.mo-item-complex.mo-active .mo-item-content,
.mo-item-complex.mo-activated .mo-item-content,
.mo-item .mo-item-content.mo-active,
.mo-item .mo-item-content.mo-activated {
  @include item-active-style($item-default-active-bg, $item-default-active-border);

  // Different active themes for <a> and <button> items
  &.mo-item-light {
    @include item-active-style($item-light-active-bg, $item-light-active-border);
  }
  &.mo-item-stable {
    @include item-active-style($item-stable-active-bg, $item-stable-active-border);
  }
  &.mo-item-positive {
    @include item-active-style($item-positive-active-bg, $item-positive-active-border);
  }
  &.mo-item-calm {
    @include item-active-style($item-calm-active-bg, $item-calm-active-border);
  }
  &.mo-item-assertive {
    @include item-active-style($item-assertive-active-bg, $item-assertive-active-border);
  }
  &.mo-item-balanced {
    @include item-active-style($item-balanced-active-bg, $item-balanced-active-border);
  }
  &.mo-item-energized {
    @include item-active-style($item-energized-active-bg, $item-energized-active-border);
  }
  &.mo-item-royal {
    @include item-active-style($item-royal-active-bg, $item-royal-active-border);
  }
  &.mo-item-dark {
    @include item-active-style($item-dark-active-bg, $item-dark-active-border);
  }
}

// Handle text overflow
.mo-item,
.mo-item h1,
.mo-item h2,
.mo-item h3,
.mo-item h4,
.mo-item h5,
.mo-item h6,
.mo-item p,
.mo-item-content,
.mo-item-content h1,
.mo-item-content h2,
.mo-item-content h3,
.mo-item-content h4,
.mo-item-content h5,
.mo-item-content h6,
.mo-item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Linked list items
a.mo-item {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/**
 * Complex Items
 * --------------------------------------------------
 * Adding .mo-item-complex allows the .mo-item to be slidable and
 * have options underneath the button, but also requires an
 * additional .mo-item-content element inside .mo-item.
 * Basically .mo-item-complex removes any default settings which
 * .mo-item added, so that .mo-item-content looks them as just .mo-item.
 */

.mo-item-complex,
a.mo-item.mo-item-complex,
button.mo-item.mo-item-complex {
  padding: 0;
}

.mo-item-complex .mo-item-content,
.mo-item-radio .mo-item-content {
  position: relative;
  z-index: $z-index-item;
  padding: $item-padding (ceil( ($item-padding * 3) + ($item-padding / 3) ) - 5) $item-padding $item-padding;
  border: none;
  background-color: $item-default-bg;
}

a.mo-item-content {
  display: block;
  color: inherit;
  text-decoration: none;
}

.mo-item-text-wrap .mo-item,
.mo-item-text-wrap .mo-item-content,
.mo-item-text-wrap,
.mo-item-text-wrap h1,
.mo-item-text-wrap h2,
.mo-item-text-wrap h3,
.mo-item-text-wrap h4,
.mo-item-text-wrap h5,
.mo-item-text-wrap h6,
.mo-item-text-wrap p,
.mo-item-complex.mo-item-text-wrap .mo-item-content,
.mo-item-body h1,
.mo-item-body h2,
.mo-item-body h3,
.mo-item-body h4,
.mo-item-body h5,
.mo-item-body h6,
.mo-item-body p {
  overflow: visible;
  white-space: normal;
}

.mo-item-complex.mo-item-text-wrap,
.mo-item-complex.mo-item-text-wrap h1,
.mo-item-complex.mo-item-text-wrap h2,
.mo-item-complex.mo-item-text-wrap h3,
.mo-item-complex.mo-item-text-wrap h4,
.mo-item-complex.mo-item-text-wrap h5,
.mo-item-complex.mo-item-text-wrap h6,
.mo-item-complex.mo-item-text-wrap p {
  overflow: visible;
  white-space: normal;
}

// Link and Button Active States

.mo-item-complex {
  // Stylized items
  &.mo-item-light > .mo-item-content {
    @include item-style($item-light-bg, $item-light-border, $item-light-text);
    &.mo-active, &:active {
      @include item-active-style($item-light-active-bg, $item-light-active-border);
    }
  }
  &.mo-item-stable > .mo-item-content {
    @include item-style($item-stable-bg, $item-stable-border, $item-stable-text);
    &.mo-active, &:active {
      @include item-active-style($item-stable-active-bg, $item-stable-active-border);
    }
  }
  &.mo-item-positive > .mo-item-content {
    @include item-style($item-positive-bg, $item-positive-border, $item-positive-text);
    &.mo-active, &:active {
      @include item-active-style($item-positive-active-bg, $item-positive-active-border);
    }
  }
  &.mo-item-calm > .mo-item-content {
    @include item-style($item-calm-bg, $item-calm-border, $item-calm-text);
    &.mo-active, &:active {
      @include item-active-style($item-calm-active-bg, $item-calm-active-border);
    }
  }
  &.mo-item-assertive > .mo-item-content {
    @include item-style($item-assertive-bg, $item-assertive-border, $item-assertive-text);
    &.mo-active, &:active {
      @include item-active-style($item-assertive-active-bg, $item-assertive-active-border);
    }
  }
  &.mo-item-balanced > .mo-item-content {
    @include item-style($item-balanced-bg, $item-balanced-border, $item-balanced-text);
    &.mo-active, &:active {
      @include item-active-style($item-balanced-active-bg, $item-balanced-active-border);
    }
  }
  &.mo-item-energized > .mo-item-content {
    @include item-style($item-energized-bg, $item-energized-border, $item-energized-text);
    &.mo-active, &:active {
      @include item-active-style($item-energized-active-bg, $item-energized-active-border);
    }
  }
  &.mo-item-royal > .mo-item-content {
    @include item-style($item-royal-bg, $item-royal-border, $item-royal-text);
    &.mo-active, &:active {
      @include item-active-style($item-royal-active-bg, $item-royal-active-border);
    }
  }
  &.mo-item-dark > .mo-item-content {
    @include item-style($item-dark-bg, $item-dark-border, $item-dark-text);
    &.mo-active, &:active {
      @include item-active-style($item-dark-active-bg, $item-dark-active-border);
    }
  }
}

/**
 * Item Icons
 * --------------------------------------------------
 */

.mo-item-icon-left .mo-icon,
.mo-item-icon-right .mo-icon {
  @include display-flex();
  @include align-items(center);
  position: absolute;
  top: 0;
  height: 100%;
  font-size: $item-icon-font-size;

  &:before {
    display: block;
    width: $item-icon-font-size;
    text-align: center;
  }
}

.mo-item .mo-fill-icon {
  min-width: $item-icon-fill-font-size + 2;
  min-height: $item-icon-fill-font-size + 2;
  font-size: $item-icon-fill-font-size;
}

.mo-item-icon-left {
  padding-left: ceil(($item-padding * 3) + ($item-padding / 3));

  .mo-icon {
    left: ceil(($item-padding / 3) * 2);
  }
}

.mo-item-complex.mo-item-icon-left {
  padding-left: 0;

  .mo-item-content {
    padding-left: ceil(($item-padding * 3) + ($item-padding / 3));
  }
}

.mo-item-icon-right {
  padding-right: ceil(($item-padding * 3) + ($item-padding / 3));

  .mo-icon {
    right: ceil(($item-padding / 3) * 2);
  }
}

.mo-item-complex.mo-item-icon-right {
  padding-right: 0;

  .mo-item-content {
    padding-right: ceil(($item-padding * 3) + ($item-padding / 3));
  }
}

.mo-item-icon-left.mo-item-icon-right .mo-icon:first-child {
  right: auto;
}

.mo-item-icon-left.mo-item-icon-right .mo-icon:last-child,
.mo-item-icon-left .mo-item-delete .mo-icon {
  left: auto;
}

.mo-item-icon-left .mo-icon-accessory,
.mo-item-icon-right .mo-icon-accessory {
  color: $item-icon-accessory-color;
  font-size: $item-icon-accessory-font-size;
}

.mo-item-icon-left .mo-icon-accessory {
  left: floor($item-padding / 5);
}

.mo-item-icon-right .mo-icon-accessory {
  right: floor($item-padding / 5);
}

/**
 * Item Button
 * --------------------------------------------------
 * An item button is a child button inside an .mo-item (not the entire .mo-item)
 */

.mo-item-button-left {
  padding-left: ceil($item-padding * 4.5);
}

.mo-item-button-left > .mo-button,
.mo-item-button-left .mo-item-content > .mo-button {
  @include display-flex();
  @include align-items(center);
  position: absolute;
  top: ceil($item-padding / 2);
  left: ceil(($item-padding / 3) * 2);
  min-width: $item-icon-font-size + ($button-border-width * 2);
  min-height: $item-icon-font-size + ($button-border-width * 2);
  font-size: $item-button-font-size;
  line-height: $item-button-line-height;

  .mo-icon:before {
    position: relative;
    left: auto;
    width: auto;
    line-height: $item-icon-font-size - 1;
  }

  > .mo-button {
    margin: 0px 2px;
    min-height: $item-icon-font-size + ($button-border-width * 2);
    font-size: $item-button-font-size;
    line-height: $item-button-line-height;
  }
}

.mo-item-button-right,
a.mo-item.mo-item-button-right,
button.mo-item.mo-item-button-right {
  padding-right: $item-padding * 5;
}

.mo-item-button-right > .mo-button,
.mo-item-button-right .mo-item-content > .mo-button,
.mo-item-button-right > .mo-buttons,
.mo-item-button-right .mo-item-content > .mo-buttons {
  @include display-flex();
  @include align-items(center);
  position: absolute;
  top: ceil($item-padding / 2);
  right: $item-padding;
  min-width: $item-icon-font-size + ($button-border-width * 2);
  min-height: $item-icon-font-size + ($button-border-width * 2);
  font-size: $item-button-font-size;
  line-height: $item-button-line-height;

  .mo-icon:before {
    position: relative;
    left: auto;
    width: auto;
    line-height: $item-icon-font-size - 1;
  }

  > .mo-button {
    margin: 0px 2px;
    min-width: $item-icon-font-size + ($button-border-width * 2);
    min-height: $item-icon-font-size + ($button-border-width * 2);
    font-size: $item-button-font-size;
    line-height: $item-button-line-height;
  }
}

// Item Avatar
// -------------------------------

.mo-item-avatar,
.mo-item-avatar .mo-item-content,
.mo-item-avatar-left,
.mo-item-avatar-left .mo-item-content {
  padding-left: $item-avatar-width + ($item-padding * 2);
  min-height: $item-avatar-width + ($item-padding * 2);

  > img:first-child,
  .mo-item-image {
    position: absolute;
    top: $item-padding;
    left: $item-padding;
    max-width: $item-avatar-width;
    max-height: $item-avatar-height;
    width: 100%;
    height: 100%;
    border-radius: $item-avatar-border-radius;
  }
}

.mo-item-avatar-right,
.mo-item-avatar-right .mo-item-content {
  padding-right: $item-avatar-width + ($item-padding * 2);
  min-height: $item-avatar-width + ($item-padding * 2);

  > img:first-child,
  .mo-item-image {
    position: absolute;
    top: $item-padding;
    right: $item-padding;
    max-width: $item-avatar-width;
    max-height: $item-avatar-height;
    width: 100%;
    height: 100%;
    border-radius: $item-avatar-border-radius;
  }
}

// Item Thumbnails
// -------------------------------

.mo-item-thumbnail-left,
.mo-item-thumbnail-left .mo-item-content {
  padding-top: $item-padding / 2;
  padding-left: $item-thumbnail-width + $item-thumbnail-margin + $item-padding;
  min-height: $item-thumbnail-height + ($item-thumbnail-margin * 2);

  > img:first-child,
  .mo-item-image {
    position: absolute;
    top: $item-thumbnail-margin;
    left: $item-thumbnail-margin;
    max-width: $item-thumbnail-width;
    max-height: $item-thumbnail-height;
    width: 100%;
    height: 100%;
  }
}

.mo-item-avatar.mo-item-complex,
.mo-item-avatar-left.mo-item-complex,
.mo-item-thumbnail-left.mo-item-complex {
  padding-top: 0;
  padding-left: 0;
}

.mo-item-thumbnail-right,
.mo-item-thumbnail-right .mo-item-content {
  padding-top: $item-padding / 2;
  padding-right: $item-thumbnail-width + $item-thumbnail-margin + $item-padding;
  min-height: $item-thumbnail-height + ($item-thumbnail-margin * 2);

  > img:first-child,
  .mo-item-image {
    position: absolute;
    top: $item-thumbnail-margin;
    right: $item-thumbnail-margin;
    max-width: $item-thumbnail-width;
    max-height: $item-thumbnail-height;
    width: 100%;
    height: 100%;
  }
}

.mo-item-avatar-right.mo-item-complex,
.mo-item-thumbnail-right.mo-item-complex {
  padding-top: 0;
  padding-right: 0;
}

// Item Image
// -------------------------------

.mo-item-image {
  padding: 0;
  text-align: center;

  img:first-child, .mo-list-img {
    width: 100%;
    vertical-align: middle;
  }
}

// Item Body
// -------------------------------

.mo-item-body {
  overflow: auto;
  padding: $item-padding;
  text-overflow: inherit;
  white-space: normal;

  h1, h2, h3, h4, h5, h6, p {
    margin-top: $item-padding;
    margin-bottom: $item-padding;
  }
}

// Item Divider
// -------------------------------

.mo-item-divider {
  padding-top: ceil($item-padding / 2);
  padding-bottom: ceil($item-padding / 2);
  min-height: 30px;
  background-color: $item-divider-bg;
  color: $item-divider-color;
  font-weight: 500;
}

.mo-platform-ios .mo-item-divider-platform,
.mo-item-divider-ios {
  padding-top: 26px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13px;
  background-color: #efeff4;
  color: #555;
}

.mo-platform-android .mo-item-divider-platform,
.mo-item-divider-android {
  font-weight: 300;
  font-size: 13px;
}

// Item Note
// -------------------------------

.mo-item-note {
  float: right;
  color: #aaa;
  font-size: 14px;
}

// Item Editing
// -------------------------------

.mo-item-left-editable .mo-item-content,
.mo-item-right-editable .mo-item-content {
  // setup standard transition settings
  @include transition-duration($item-edit-transition-duration);
  @include transition-timing-function($item-edit-transition-function);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

.mo-list-left-editing .mo-item-left-editable .mo-item-content,
.mo-item-left-editing.mo-item-left-editable .mo-item-content {
  // actively editing the left side of the item
  @include translate3d($item-left-edit-open-width, 0, 0);
}

.mo-item-remove-animate {
  &.mo-leave {
    @include transition-duration($item-remove-transition-duration);
  }
  &.mo-leave .mo-item-content,
  &.mo-leave:last-of-type {
    @include transition-duration($item-remove-transition-duration);
    @include transition-timing-function($item-remove-transition-function);
    @include transition-property(all);
  }

  &.mo-leave.mo-leave-active .mo-item-content {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) !important;
    transform: translate3d(-100%, 0, 0) !important;
  }
  &.mo-leave.mo-leave-active:last-of-type {
    opacity: 0;
  }

}

// Item Left Edit Button
// -------------------------------

.mo-item-left-edit {
  @include transition(all $item-edit-transition-function $item-edit-transition-duration / 2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-item-edit;
  width: $item-left-edit-open-width;
  height: 100%;
  line-height: 100%;

  .mo-button {
    height: 100%;

    &.mo-icon {
      @include display-flex();
      @include align-items(center);
      position: absolute;
      top: 0;
      height: 100%;
    }
  }

  display: none;
  opacity: 0;
  @include translate3d(($item-left-edit-left - $item-left-edit-open-width) / 2, 0, 0);
  &.mo-visible {
    display: block;
    &.mo-active {
      opacity: 1;
      @include translate3d($item-left-edit-left, 0, 0);
    }
  }
}

.mo-list-left-editing .mo-item-left-edit {
  @include transition-delay($item-edit-transition-duration / 2);
}

// Item Delete (Left side edit button)
// -------------------------------

.mo-item-delete .mo-button.mo-icon {
  color: $item-delete-icon-color;
  font-size: $item-delete-icon-size;

  &:hover {
    opacity: .7;
  }
}

// Item Right Edit Button
// -------------------------------

.mo-item-right-edit {
  @include transition(all $item-edit-transition-function $item-edit-transition-duration);
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-index-item-reorder;
  width: $item-right-edit-open-width *  1.5;
  height: 100%;
  background: inherit;
  padding-left: 20px;

  .mo-button {
    min-width: $item-right-edit-open-width;
    height: 100%;

    &.mo-icon {
      @include display-flex();
      @include align-items(center);
      position: absolute;
      top: 0;
      height: 100%;
      font-size: $item-reorder-icon-size;
    }
  }

  display: block;
  opacity: 0;
  @include translate3d($item-right-edit-open-width *  1.5, 0, 0);
  &.mo-visible {
    display: block;
    &.mo-active {
      opacity: 1;
      @include translate3d(0, 0, 0);
    }
  }
}

// Item Reordering (Right side edit button)
// -------------------------------

.mo-item-reorder .mo-button.mo-icon {
  color: $item-reorder-icon-color;
  font-size: $item-reorder-icon-size;
}

.mo-item-reordering {
  // item is actively being reordered
  position: absolute;
  left: 0;
  top: 0;
  z-index: $z-index-item-reordering;
  width: 100%;
  box-shadow: 0px 0px 10px 0px #aaa;

  .mo-item-reorder {
    z-index: $z-index-item-reordering;
  }
}

.mo-item-placeholder {
  // placeholder for the item that's being reordered
  opacity: 0.7;
}

/**
 * The hidden right-side buttons that can be exposed under a list item
 * with dragging.
 */
.mo-item-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-index-item-options;
  height: 100%;

  .mo-button {
    height: 100%;
    border: none;
    border-radius: 0;
    @include display-inline-flex();
    @include align-items(center);

    &:before {
      margin: 0 auto;
    }
  }
}