.mo-tabs {
  @include display-flex();
  @include flex-direction(horizontal);
  @include justify-content(center);
  @include translate3d(0, 0, 0);

  @include tab-style($tabs-default-bg, $tabs-default-border, $tabs-default-text);
  @include tab-badge-style($tabs-default-text, $tabs-default-bg);

  position: absolute;
  bottom: 0;

  z-index: $z-index-tabs;

  width: 100%;
  height: $tabs-height;

  border-style: solid;
  border-top-width: 1px;

  background-size: 0;
  line-height: $tabs-height;

  @media (min--moz-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    padding-top: 2px;
    border-top: none !important;
    border-bottom: none;
    background-position: top;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }

}

/* Allow parent element of tabs to define color, or just the tab itself */
.mo-tabs-light > .mo-tabs,
.mo-tabs.mo-tabs-light {
  @include tab-style($tabs-light-bg, $tabs-light-border, $tabs-light-text);
  @include tab-badge-style($tabs-light-text, $tabs-light-bg);
}

.mo-tabs-stable > .mo-tabs,
.mo-tabs.mo-tabs-stable {
  @include tab-style($tabs-stable-bg, $tabs-stable-border, $tabs-stable-text);
  @include tab-badge-style($tabs-stable-text, $tabs-stable-bg);
}

.mo-tabs-positive > .mo-tabs,
.mo-tabs.mo-tabs-positive {
  @include tab-style($tabs-positive-bg, $tabs-positive-border, $tabs-positive-text);
  @include tab-badge-style($tabs-positive-text, $tabs-positive-bg);
}

.mo-tabs-calm > .mo-tabs,
.mo-tabs.mo-tabs-calm {
  @include tab-style($tabs-calm-bg, $tabs-calm-border, $tabs-calm-text);
  @include tab-badge-style($tabs-calm-text, $tabs-calm-bg);
}

.mo-tabs-assertive > .mo-tabs,
.mo-tabs.mo-tabs-assertive {
  @include tab-style($tabs-assertive-bg, $tabs-assertive-border, $tabs-assertive-text);
  @include tab-badge-style($tabs-assertive-text, $tabs-assertive-bg);
}

.mo-tabs-balanced > .mo-tabs,
.mo-tabs.mo-tabs-balanced {
  @include tab-style($tabs-balanced-bg, $tabs-balanced-border, $tabs-balanced-text);
  @include tab-badge-style($tabs-balanced-text, $tabs-balanced-bg);
}

.mo-tabs-energized > .mo-tabs,
.mo-tabs.mo-tabs-energized {
  @include tab-style($tabs-energized-bg, $tabs-energized-border, $tabs-energized-text);
  @include tab-badge-style($tabs-energized-text, $tabs-energized-bg);
}

.mo-tabs-royal > .mo-tabs,
.mo-tabs.mo-tabs-royal {
  @include tab-style($tabs-royal-bg, $tabs-royal-border, $tabs-royal-text);
  @include tab-badge-style($tabs-royal-text, $tabs-royal-bg);
}

.mo-tabs-dark > .mo-tabs,
.mo-tabs.mo-tabs-dark {
  @include tab-style($tabs-dark-bg, $tabs-dark-border, $tabs-dark-text);
  @include tab-badge-style($tabs-dark-text, $tabs-dark-bg);
}

@mixin tabs-striped($style, $color, $background) {
  &.#{$style} {
    .mo-tabs {
      background-color: $background;
    }
    .mo-tab-item {
      color: rgba($color, $tabs-striped-off-opacity);
      opacity: 1;
      .mo-badge {
        opacity: $tabs-striped-off-opacity;
      }
      &.mo-tab-item-active,
      &.mo-active,
      &.mo-activated {
        margin-top: -$tabs-striped-border-width;
        color: $color;
        border-style: solid;
        border-width: $tabs-striped-border-width 0 0 0;
        border-color: $color;
      }
    }
  }
  &.mo-tabs-top {
    .mo-tab-item {
      &.mo-tab-item-active,
      &.mo-active,
      &.mo-activated {
        .mo-badge {
          top: 4%;
        }
      }
    }
  }
}

@mixin tabs-background($style, $color, $border-color) {
  .#{$style} {
    .mo-tabs,
    & > .mo-tabs {
      background-color: $color;
      background-image: linear-gradient(0deg, $border-color, $border-color 50%, transparent 50%);
      border-color: $border-color;
    }
  }
}

@mixin tabs-striped-background($style, $color) {
  &.#{$style} {
    .mo-tabs {
      background-color: $color;
      background-image: none;
    }
  }
}

@mixin tabs-color($style, $color) {
  .#{$style} {
    .mo-tab-item {
      color: rgba($color, $tabs-off-opacity);
      opacity: 1;
      .mo-badge {
        opacity: $tabs-off-opacity;
      }
      &.mo-tab-item-active,
      &.mo-active,
      &.mo-activated {
        color: $color;
        border: 0 solid $color;
        .badge {
          opacity: 1;
        }
      }
    }
  }
}

@mixin tabs-striped-color($style, $color) {
  &.#{$style} {
    .mo-tab-item {
      color: rgba($color, $tabs-striped-off-opacity);
      opacity: 1;
      .mo-badge {
        opacity: $tabs-striped-off-opacity;
      }
      &.mo-tab-item-active,
      &.mo-active,
      &.mo-activated {
        margin-top: -$tabs-striped-border-width;
        color: $color;
        border: 0 solid $color;
        border-top-width: $tabs-striped-border-width;
        .mo-badge {
          top: $tabs-striped-border-width;
          opacity: 1;
        }
      }
    }
  }
}

.mo-tabs-striped {
  .mo-tabs {
    background-color: white;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-top: $tabs-striped-border-width;
  }
  .mo-tab-item {
    // default android tab style
    &.mo-tab-item-active,
    &.mo-active,
    &.mo-activated {
      margin-top: -$tabs-striped-border-width;
      border-style: solid;
      border-width: $tabs-striped-border-width 0 0 0;
      border-color: $dark;
      .mo-badge {
        top: $tabs-striped-border-width;
        opacity: 1;
      }
    }
  }
  @include tabs-striped('mo-tabs-light', $dark, $light);
  @include tabs-striped('mo-tabs-stable', $dark, $stable);
  @include tabs-striped('mo-tabs-positive', $light, $positive);
  @include tabs-striped('mo-tabs-calm', $light, $calm);
  @include tabs-striped('mo-tabs-assertive', $light, $assertive);
  @include tabs-striped('mo-tabs-balanced', $light, $balanced);
  @include tabs-striped('mo-tabs-energized', $light, $energized);
  @include tabs-striped('mo-tabs-royal', $light, $royal);
  @include tabs-striped('mo-tabs-dark', $light, $dark);

  // doing this twice so striped tabs styles don't override specific bg and color vals
  @include tabs-striped-background('mo-tabs-background-light', $light);
  @include tabs-striped-background('mo-tabs-background-stable', $stable);
  @include tabs-striped-background('mo-tabs-background-positive', $positive);
  @include tabs-striped-background('mo-tabs-background-calm', $calm);
  @include tabs-striped-background('mo-tabs-background-assertive', $assertive);
  @include tabs-striped-background('mo-tabs-background-balanced', $balanced);
  @include tabs-striped-background('mo-tabs-background-energized', $energized);
  @include tabs-striped-background('mo-tabs-background-royal', $royal);
  @include tabs-striped-background('mo-tabs-background-dark', $dark);

  @include tabs-striped-color('mo-tabs-color-light', $light);
  @include tabs-striped-color('mo-tabs-color-stable', $stable);
  @include tabs-striped-color('mo-tabs-color-positive', $positive);
  @include tabs-striped-color('mo-tabs-color-calm', $calm);
  @include tabs-striped-color('mo-tabs-color-assertive', $assertive);
  @include tabs-striped-color('mo-tabs-color-balanced', $balanced);
  @include tabs-striped-color('mo-tabs-color-energized', $energized);
  @include tabs-striped-color('mo-tabs-color-royal', $royal);
  @include tabs-striped-color('mo-tabs-color-dark', $dark);

}

@include tabs-background('mo-tabs-background-light', $light, $bar-light-border);
@include tabs-background('mo-tabs-background-stable', $stable, $bar-stable-border);
@include tabs-background('mo-tabs-background-positive', $positive, $bar-positive-border);
@include tabs-background('mo-tabs-background-calm', $calm, $bar-calm-border);
@include tabs-background('mo-tabs-background-assertive', $assertive, $bar-assertive-border);
@include tabs-background('mo-tabs-background-balanced', $balanced, $bar-balanced-border);
@include tabs-background('mo-tabs-background-energized', $energized, $bar-energized-border);
@include tabs-background('mo-tabs-background-royal', $royal, $bar-royal-border);
@include tabs-background('mo-tabs-background-dark', $dark, $bar-dark-border);

@include tabs-color('mo-tabs-color-light', $light);
@include tabs-color('mo-tabs-color-stable', $stable);
@include tabs-color('mo-tabs-color-positive', $positive);
@include tabs-color('mo-tabs-color-calm', $calm);
@include tabs-color('mo-tabs-color-assertive', $assertive);
@include tabs-color('mo-tabs-color-balanced', $balanced);
@include tabs-color('mo-tabs-color-energized', $energized);
@include tabs-color('mo-tabs-color-royal', $royal);
@include tabs-color('mo-tabs-color-dark', $dark);

@mixin tabs-standard-color($style, $color, $off-color:$dark) {
  &.#{$style} {
    .mo-tab-item {
      color: $off-color;
      &.mo-tab-item-active,
      &.mo-active,
      &.mo-activated {
        color: $color;
      }
    }
  }
}

.mo-tabs-top {
  &.mo-tabs-striped {
    padding-bottom: 0;
    .mo-tab-item {
      background: transparent;
      // animate the top bar, leave bottom for platform consistency
      -webkit-transition: color .1s ease;
      -moz-transition: color .1s ease;
      -ms-transition: color .1s ease;
      -o-transition: color .1s ease;
      transition: color .1s ease;
      &.mo-tab-item-active,
      &.mo-active,
      &.mo-activated {
        margin-top: $tabs-striped-border-width - 1px;
        border-width: 0px 0px $tabs-striped-border-width 0px !important;
        border-style: solid;
        > .mo-badge, > i {
          margin-top: -$tabs-striped-border-width + 1px;
        }
      }
      .mo-badge {
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
      }
    }
  }
}

/* Allow parent element to have tabs-top */
/* If you change this, change platform.scss as well */
.mo-tabs-top > .mo-tabs,
.mo-tabs.mo-tabs-top {
  top: $bar-height;
  padding-top: 0;
  background-position: bottom;
  border-top-width: 0;
  border-bottom-width: 1px;
  .mo-tab-item {
    &.mo-tab-item-active,
    &.mo-active,
    &.mo-activated {
      .mo-badge {
        top: 4%;
      }
    }
  }
}

.mo-tabs-top ~ .mo-bar-header {
  border-bottom-width: 0;
}

.mo-tab-item {
  @include flex(1);
  display: block;
  overflow: hidden;

  max-width: $tab-item-max-width;
  height: 100%;

  color: inherit;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-weight: 400;
  font-size: $tabs-text-font-size;
  font-family: $font-family-sans-serif;

  opacity: 0.7;

  &:hover {
    cursor: pointer;
  }
  &.mo-tab-hidden {
    display: none;
  }
}

.mo-tabs-item-hide > .mo-tabs,
.mo-tabs.mo-tabs-item-hide {
  display: none;
}

.mo-tabs-icon-top > .mo-tabs .mo-tab-item,
.mo-tabs-icon-top.mo-tabs .mo-tab-item,
.mo-tabs-icon-bottom > .mo-tabs .mo-tab-item,
.mo-tabs-icon-bottom.mo-tabs .mo-tab-item {
  font-size: $tabs-text-font-size-side-icon;
  line-height: $tabs-text-font-size;
}

.mo-tab-item .mo-icon {
  display: block;
  margin: 0 auto;
  height: $tabs-icon-size;
  font-size: $tabs-icon-size;
}

.mo-tabs-icon-left.mo-tabs .mo-tab-item,
.mo-tabs-icon-left > .mo-tabs .mo-tab-item,
.mo-tabs-icon-right.mo-tabs .mo-tab-item,
.mo-tabs-icon-right > .mo-tabs .mo-tab-item {
  font-size: $tabs-text-font-size-side-icon;

  .mo-icon {
    display: inline-block;
    vertical-align: top;
    margin-top: -.1em;

    &:before {
      font-size: $tabs-icon-size - 8;
      line-height: $tabs-height;
    }
  }
}

.mo-tabs-icon-left > .mo-tabs .mo-tab-item .mo-icon,
.mo-tabs-icon-left.mo-tabs .mo-tab-item .mo-icon {
  padding-right: 3px;
}

.mo-tabs-icon-right > .mo-tabs .mo-tab-item .mo-icon,
.mo-tabs-icon-right.mo-tabs .mo-tab-item .mo-icon {
  padding-left: 3px;
}

.mo-tabs-icon-only > .mo-tabs .mo-icon,
.mo-tabs-icon-only.mo-tabs .mo-icon {
  line-height: inherit;
}

.mo-tab-item.mo-has-badge {
  position: relative;
}

.mo-tab-item .mo-badge {
  position: absolute;
  top: 4%;
  right: 33%; // fallback
  right: calc(50% - 26px);
  padding: $tabs-badge-padding;
  height: auto;
  font-size: $tabs-badge-font-size;
  line-height: $tabs-badge-font-size + 4;
}

/* Navigational tab */

/* Active state for tab */
.mo-tab-item.mo-tab-item-active,
.mo-tab-item.mo-active,
.mo-tab-item.mo-activated {
  opacity: 1;

  &.mo-tab-item-light {
    color: $light;
  }
  &.mo-tab-item-stable {
    color: $stable;
  }
  &.mo-tab-item-positive {
    color: $positive;
  }
  &.mo-tab-item-calm {
    color: $calm;
  }
  &.mo-tab-item-assertive {
    color: $assertive;
  }
  &.mo-tab-item-balanced {
    color: $balanced;
  }
  &.mo-tab-item-energized {
    color: $energized;
  }
  &.mo-tab-item-royal {
    color: $royal;
  }
  &.mo-tab-item-dark {
    color: $dark;
  }
}

.mo-item.mo-tabs {
  @include display-flex();
  padding: 0;

  .mo-icon:before {
    position: relative;
  }
}

.mo-tab-item.mo-disabled,
.mo-tab-item[disabled] {
  opacity: .4;
  cursor: default;
  pointer-events: none;
}

.mo-tab-item .mo-icon.fa {
  padding-top: 8px;
}
