.mo-hide {
  display: none;
}

.mo-opacity-hide {
  opacity: 0;
}

.mo-grade-b .mo-opacity-hide,
.mo-grade-c .mo-opacity-hide {
  opacity: 1;
  display: none;
}

.mo-show {
  display: block;
}

.mo-opacity-show {
  opacity: 1;
}

.mo-invisible {
  visibility: hidden;
}

.mo-keyboard-open .mo-hide-on-keyboard-open {
  display: none;
}

.mo-keyboard-open .mo-tabs.mo-hide-on-keyboard-open + .mo-pane .mo-has-tabs,
.mo-keyboard-open .mo-bar-footer.mo-hide-on-keyboard-open + .mo-pane .mo-has-footer {
  bottom: 0;
}

.mo-inline {
  display: inline-block;
}

.mo-disable-pointer-events {
  pointer-events: none;
}

.mo-enable-pointer-events {
  pointer-events: auto;
}

.mo-disable-user-behavior {
  // used to prevent the browser from doing its native behavior. this doesnt
  // prevent the scrolling, but cancels the contextmenu, tap highlighting, etc

  @include user-select(none);
  @include touch-callout(none);
  @include tap-highlight-transparent();

  -webkit-user-drag: none;

  -ms-touch-action: none;
  -ms-content-zooming: none;
}

// Fill the screen to block clicks (a better pointer-events: none) for the body
// to avoid full-page reflows and paints which can cause flickers
.mo-click-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: $z-index-click-block;
  @include translate3d(0, 0, 0);
  overflow: hidden;
}

.mo-click-block-hide {
  @include translate3d(-9999px, 0, 0);
}

.mo-no-resize {
  resize: none;
}

.mo-block {
  display: block;
  clear: both;
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

.mo-full-image {
  width: 100%;
}

.mo-clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/**
 * Content Padding
 * --------------------------------------------------
 */

.mo-padding {
  padding: $content-padding;
}

.mo-padding-top,
.mo-padding-vertical {
  padding-top: $content-padding;
}

.mo-padding-right,
.mo-padding-horizontal {
  padding-right: $content-padding;
}

.mo-padding-bottom,
.mo-padding-vertical {
  padding-bottom: $content-padding;
}

.mo-padding-left,
.mo-padding-horizontal {
  padding-left: $content-padding;
}

/**
 * Scrollable iFrames
 * --------------------------------------------------
 */

.mo-iframe-wrapper {
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;

  iframe {
    height: 100%;
    width: 100%;
  }
}

/**
 * Rounded
 * --------------------------------------------------
 */

.mo-rounded {
  border-radius: $border-radius-base;
}

/**
 * Utility Colors
 * --------------------------------------------------
 * Utility colors are added to help set a naming convention. You'll
 * notice we purposely do not use words like "red" or "blue", but
 * instead have colors which represent an emotion or generic theme.
 */

.mo-light, a.mo-light {
  color: $light;
}

.mo-light-bg {
  background-color: $light;
}

.mo-light-border {
  border-color: $button-light-border;
}

.mo-stable, a.mo-stable {
  color: $stable;
}

.mo-stable-bg {
  background-color: $stable;
}

.mo-stable-border {
  border-color: $button-stable-border;
}

.mo-positive, a.mo-positive {
  color: $positive;
}

.mo-positive-bg {
  background-color: $positive;
}

.mo-positive-border {
  border-color: $button-positive-border;
}

.mo-calm, a.mo-calm {
  color: $calm;
}

.mo-calm-bg {
  background-color: $calm;
}

.mo-calm-border {
  border-color: $button-calm-border;
}

.mo-assertive, a.mo-assertive {
  color: $assertive;
}

.mo-assertive-bg {
  background-color: $assertive;
}

.mo-assertive-border {
  border-color: $button-assertive-border;
}

.mo-balanced, a.mo-balanced {
  color: $balanced;
}

.mo-balanced-bg {
  background-color: $balanced;
}

.mo-balanced-border {
  border-color: $button-balanced-border;
}

.mo-energized, a.mo-energized {
  color: $energized;
}

.mo-energized-bg {
  background-color: $energized;
}

.mo-energized-border {
  border-color: $button-energized-border;
}

.mo-royal, a.mo-royal {
  color: $royal;
}

.mo-royal-bg {
  background-color: $royal;
}

.mo-royal-border {
  border-color: $button-royal-border;
}

.mo-dark, a.mo-dark {
  color: $dark;
}

.mo-dark-bg {
  background-color: $dark;
}

.mo-dark-border {
  border-color: $button-dark-border;
}

[collection-repeat] {
  /* Position is set by transforms */
  left: 0 !important;
  top: 0 !important;
  position: absolute !important;
  z-index: 1;
}

.mo-collection-repeat-container {
  position: relative;
  z-index: 1; //make sure it's above the after-container
}

.mo-collection-repeat-after-container {
  z-index: 0;
  display: block;

  /* when scrolling horizontally, make sure the after container doesn't take up 100% width */
  &.mo-horizontal {
    display: inline-block;
  }
}
